
.mainFxmlClass{
    
}

.BotonFacebook{
    -fx-background-color: #3B5998;
}

/*
    Agregamos una clase, para poder modificar solo el boton de Facebook
    , le agregamos la propiedad de color, y se intenta imitar el color
    en hexadecimal
*/
.BotonFacebook:hover{
    -fx-background-color: #3c5fa1;
    -fx-font-weigght:bold;
    -fx-text-fill: #ffffff;
    -fx-cursor:hand;
}


.botonIngresar:hover{
    -fx-text-fill: #005989;
    -fx-background-color: #a0cde7;
    -fx-font-weight:bold;
    -fx-cursor:hand;
}


/*
    Otra clase, para los colores y opacidad del Panel Izquierdo
*/
.LeftPanel{
    -fx-background-color: #03717a;
    -fx-opacity:0.5;
}
/*hover es un evento para cambiar cuando pasamos el teclado por encima*/



.RecuperarAfter:hover{
    -fx-text-fill: #3c5fa1;
    -fx-cursor: hand;
}

.BotonRegistro:hover{
    
}